{% extends '@MoAdm/layout.html.twig' %}


{% block body %}

    <div class="container">
        <div class="col-md-12">

            <h3>Editando a {{ username }}, {{ email }}</h3>


            {{ form(form) }}


        </div>
    </div>





{% endblock %}