{% extends 'MoUserBundle::layout.html.twig' %}



{% block body %}


    <div class="container">
        <div class="page-header">
            <h1>Bienvenidos a {{ app_name }} User</h1>
        </div>
        <p class="lead">User.</p>

    </div>


{% endblock %}