{% extends 'MoMainWebsiteBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        <h1> {% trans %} mo.mainwebsite.section.signup.heading {% endtrans %} </h1>
        <hr>
        <div class="col-md-6">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}