{% extends 'MoMainWebsiteBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Regístrese , es gratis.</h1>
        <hr>
        <div class="col-md-6">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}