{% extends 'MoMainWebsiteBundle::layout.html.twig' %}



{% block body %}

    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %} mo.mainwebsite.section.contact.header {% endtrans %}</h1>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">

                <p>
                    {% trans %} mo.mainwebsite.section.contact.explain {% endtrans %}
                </p>

            </div>
            <div class="col-md-6">
                {{ form(form) }}

            </div>
        </div>
    </div>


{% endblock %}