{% extends 'MoMainWebsiteBundle::layout.html.twig' %}



{% block body %}

    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <h1>¿ Hay algo que no le encaja ? Contáctenos !!</h1>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">

                <p>
                    Rellene el siguiente formulario de contacto, le contestaremos
                    lo antes posible , muchas gracias por su visita.
                </p>

            </div>
            <div class="col-md-6">
                {{ form(form) }}

            </div>
        </div>
    </div>


{% endblock %}