{% extends 'MoMainWebsiteBundle::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/momainwebsite/css/howto.css') }}">

{% endblock %}
{% block body %}

<div class="container">

    <div class="col-md-4 text-center">
        <h3>{% trans %} mo.mainwebsite.section.howworks.lookat {% endtrans %} <a href="{{ url('mo_main_website_products') }}">{% trans %} mo.word.products {% endtrans %}</a>.</h3>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    </div>
    <div class="col-md-4 text-center">
        <h3>{% trans %} mo.mainwebsite.section.howworks.tellus {% endtrans %}</h3>
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
    </div>
    <div class="col-md-4 text-center">
        <h3>{% trans %} mo.mainwebsite.section.howworks.send {% endtrans %} </h3>
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
    </div>

</div>

{% endblock %}