{% extends '@MoMainWebsite/layout.html.twig' %}


{% block body %}


    <div class="container">
        <div class="page-header">
            <h1>Bienvenidos a {{ app_name }}</h1>
        </div>
        <p class="lead">Esto es un proyecto de prueba para el curso de symfony.</p>

    </div>


{% endblock %}

