{% extends 'MoMainWebsiteBundle::layout.html.twig' %}



{% block body %}
    <div class="container">

        <div class="row">

            {% for p in products %}

            <div class="col-md-4">
                <a href="{{ url('mo_main_website_products_slug', {"slug": p.slug}) }}">
                    <img src="{{ asset('images/products/' ~ p.imageName) }}" class="img-thumbnail">
                </a>
            </div>

            {% if loop.index is divisible by(3) or loop.last %}
        </div>
        <div class="row">
            {% endif %}

            {% if loop.last %}
        </div>
        {% endif %}

        {% endfor %}
    </div>

{% endblock %}